[Unit]
Description=Huey Service
After=network.target

[Service]
User=nginx
Group=nginx
EnvironmentFile=/var/www/html/{{ repo }}/.envs/.env
WorkingDirectory=/var/www/html/{{ repo }}/
ExecStart=/var/www/html/{{ repo }}/.venv/bin/python manage.py run_huey

[Install]
WantedBy=multi-user.target
